HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env

node_modules/
**/node_modules/

obter-refresh-token.sh
mile-stone.sh
temp_audio/audio1405677677594083359.tmp.oga
temp_audio/audio1503617704136658980.tmp.oga
temp_audio/audio6714068244981161137.tmp.oga
temp_audio/audio9362020334669283065.tmp.oga
temp_audio/audio13841272215048086899.tmp.oga
